:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}


/***** Styling for Fake Log In Page *****/
.page {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;

}

.login-container {
  background: #c0c0c0;
  padding: 32px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
  text-align: center;
}

#title {
  color: #0a0a0a;
  margin-bottom: 20px;
  font-size: 26px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

label {
  margin-top: 14px;
  font-weight: 500;
  color: #0a0a0a
}

input {
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

button {
  margin-top: 22px;
  padding: 10px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: #0070f3;
  color: white;
  transition: background 0.2s;
}

button:hover {
  background: #0059c9;
}

.status {
  margin-top: 20px;
  font-weight: bold;
  font-size: 16px;
}